[Desktop Entry]
Name=Passwordz
Comment=A new password manager app
Exec=passwordz
Icon=${SNAP}/meta/gui/passwordz.png
Terminal=false
Type=Application
Categories=Productivity